<div>
    <h1>Details</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>

        {% if employee %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.email }}</td>
            <td><a href="{% url 'edit' employee.id %}">Edit</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Employee not found</td>
        </tr>
        {% endif %}

    </table>
</div>