<div>
    <h1>Emplyee</h1>
    <form method="GET">
        <input type="text" name="search" placeholder="Search employee by name">
        <button type="submit">Search</button>
    </form>
    <form method="GET">
    <select name="department">
        <option value="">All Departments</option>
        <option value="IT">IT</option>
        <option value="HR">HR</option>
        <option value="Finance">Finance</option>
        <option value="Marketing">Marketing</option>
    </select>     
       <button type="submit">Filtter</button>
    </form>
    <table border="1">
        <tr>
            <th>Employee Name</th>
            <th>View details</th>
        </tr>
        {% for i in employee%}
        <tr>
            <td>{{i.name}}</td>
            <td>
                <a href="{% url 'emdetails' i.id %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{% url 'addemployee' %}">Add Employee</a>
    </div>
</div>